<div class="login-bg"></div>

<div class="pricing-page">
  <div class="header col-md-12">
    Pricing Details
  </div>
  <div class="individual-pricing col-md-8 col-md-offset-2">
    <div class="type-header">
      Plan Options
    </div>
    <div class="type-details">
      <ul class="nav nav-pills nav-justified">
        <li><a ng-click="vm.indNav = 'fit'" ng-class="{'active': vm.indNav == 'fit'}">Fitness</a></li>
        <li><a ng-click="vm.indNav = 'fitnut'" ng-class="{'active': vm.indNav == 'fitnut'}">Fitness + Nutrition</a></li>
      </ul>
      <div class="type-content ng-hide" ng-show="vm.indNav == 'fit'">
        <div class="type-content-header">Fitness</div>
        <div class="type-content-body">
          <div class="user-count">
            <div class="icon"><i class="fa fa-heartbeat" aria-hidden="true"></i></div>
          </div>
          <div class="type-features">
            <ul>
              <li>Lorem ipsum features go here.</li>
              <li>Lorem ipsum features go here. Lorem ipsum features go here.</li>
            </ul>
          </div>
          <div class="type-price">
            <div class="price">
              <div class="month">
                $10.<span class="subtext">00</span>
              </div>
              <div class="year">
                $120.<span class="subtext">00</span>
              </div>
              <div class="permonth">
                per month
              </div>
              <div class="peryear">
                per year
              </div>
            </div>
          </div>
          <div class="type-signup">
            <button type="button" class="fit-button-primary" name="button" ng-click="vm.fitnessClicked = true">Get Fit: Sign Up</button>
          </div>
        </div>
      </div>
      <div class="type-content ng-hide" ng-show="vm.indNav == 'fitnut'">
        <div class="type-content-header">Fitness + Nutrition</div>
        <div class="type-content-body">
          <div class="user-count">
            <div class="icon"><i class="fa fa-cutlery" aria-hidden="true"></i></i></div>
          </div>
          <div class="type-features">
            <ul>
              <li>Lorem ipsum features go here.</li>
              <li>Lorem ipsum features go here. Lorem ipsum features go here.</li>
            </ul>
          </div>
          <div class="type-price">
            <div class="price">
              <div class="month">
                $15.<span class="subtext">00</span>
              </div>
              <div class="year">
                $180.<span class="subtext">00</span>
              </div>
              <div class="permonth">
                per month
              </div>
              <div class="peryear">
                per year
              </div>
            </div>
          </div>
          <div class="type-signup">
            <button type="button" class="fit-button-primary" name="button" ng-click="vm.nutritionClicked = true">Get Fit + Healthy: Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer col-md-12">
    <a href="#/login"><button type="button" class="fit-button-primary" name="button">Back to Login</button></a>
  </div>
</div>

<modal-dialog show='vm.fitnessClicked' dialog-title='Fitness Plan Sign Up' width='50%'>
  <div class="modal-dialog">
    <div class="section-header col-lg-6 col-lg-offset-3">
      User Details
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" ng-model="vm.username" placeholder="Username">
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" ng-model="vm.password" placeholder="Password">
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" placeholder="Confirm Password">
    </div>
    <div class="section-header col-lg-6 col-lg-offset-3">
      Contact Info
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" placeholder="Email">
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" placeholder="Phone">
    </div>
    <div class="section-header col-lg-6 col-lg-offset-3">
      Payment Info
    </div>
    <div class="paymentinfo col-lg-12">
      <button type="button" class="fit-button-primary" name="button" ng-click="vm.createFitSubscriber()">Click Here to Add Payment</button>
    </div>
  </div>
</modal-dialog>

<modal-dialog show='vm.nutritionClicked' dialog-title='Fitness + Nutrition Plan Sign Up' width='600px'>
  <div class="modal-dialog">
    <div class="section-header col-lg-12">
      User Details
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" ng-model="vm.username" placeholder="Username">
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" ng-model="vm.password" placeholder="Password">
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" placeholder="Confirm Password">
    </div>
    <div class="section-header col-lg-12">
      Contact Info
    </div>
    <div class="userinfo col-lg-6">
      <input type="text" class="form-control" name="name" value="" ng-model="vm.first_name" placeholder="First Name">
    </div>
    <div class="userinfo col-lg-6">
      <input type="text" class="form-control" name="name" value="" ng-model="vm.last_name" placeholder="Last Name">
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" placeholder="Email">
    </div>
    <div class="userinfo col-lg-12">
      <input type="text" class="form-control" name="name" value="" placeholder="Phone">
    </div>
    <div class="section-header col-lg-12">
      Payment Info
    </div>
    <div class="paymentinfo col-lg-12">
      <button type="button" class="fit-button-primary" name="button" ng-click="vm.createNutritionSubscriber()">Click Here to Add Payment</button></br>
      <span>*You will be billed monthly until cancelled.</span>
    </div>
  </div>
</modal-dialog>
