<div ng-if="loggedInUser.user_type == 'Individual' || loggedInUser.user_type == 'Individual Nutrition'" class="user-landing-page">
  <div class="calendar-header">
    Workout Schedule
  </div>
  <div class="col-md-12 glances">
    <div class="col-md-4 glance">
      <div class="yesterday">
        <div class="header">Yesterday
          <span class="view">
            <i class="fa fa-heartbeat selected" aria-hidden="true"></i>
            <i class="fa fa-cutlery" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 glance">
      <div class="today">
        <div class="header">Today
          <span class="view">
            <i class="fa fa-heartbeat selected" aria-hidden="true"></i>
            <i class="fa fa-cutlery" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 glance">
      <div class="tomorrow">
        <div class="header">Tomorrow
          <span class="view">
            <i class="fa fa-heartbeat selected" aria-hidden="true"></i>
            <i class="fa fa-cutlery" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="calendar-header">
    Calendar
  </div>
  <div class="calendar" ng-hide="!vm.eventsLoaded">
    <mwl-calendar
      view="vm.calView"
      view-date="vm.viewDate"
      events="vm.events"
      view-title="vm.calTitle"
      on-event-click="vm.eventClicked(calendarEvent)">
    </mwl-calendar>
  </div>

  <!-- <button type="button" name="button" ng-click="vm.cancelSubscripton()">DELETE SUBSCRIPTION</button> -->
</div>
<div class="loading-spinner" ng-show="!vm.eventsLoaded">
  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></br>
  <span>Loading...</span>
</div>
