.user-landing-page {
  .calendar-header {
    margin-left: 30px;
    font-size: 3rem;
    font-weight: bold;
  }
  .calendar {
    width: 80%;
    margin-left: 10%;
    .view-picker{
      margin-bottom: 20px;
    }
  }
}
